  <nav class="navbar">
    <div class="container-width">
      <a href="#" class="logo"></a>
      <button class="menu-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu">
        <a href="https://www.cakeresume.com/s--pA0VMZzZxjC2nMc7bRI9bA--/annie-lin-93bccf">Resume</a>
        <a href="https://annielin28815.github.io/about/">Blog</a>
        <a href="https://github.com/annielin28815">GitHub</a>
        <%# <a href="http://www.linkedin.com/in/annie-lin-742861193">LinkedIn</a> %>
        <a href="https://ithelp.ithome.com.tw/users/20140920/ironman/4329">2021 itHome Race</a>
      </div>
    </div>
  </nav>